@charset "utf-8";
/* common style */
.is-fullWidth {
  width: 100%;
}

.is-halfWidth {
  width: 50%;
}

.button-init {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 13px 26px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.row {
  margin-top: 20px;
}

.label-text {
  font-size: 12px;
  color: #545658;
}

.alert {
  color: #dd4b39;
}

.input-init {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.input-area {
  color: #545658;
  background-color: #fbfbfb;
  height: 36px;
  width: 100%;
  font-size: 13px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  line-height: 2;
}

.input-area:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}

.gender-content input, .course-content input {
  display: none;
}
/* common style end */

.wrapper {
  background-color: #f2f6f7;
  width: 100%;
  padding: 32px 0;
}

.inner {
  width: 640px;
  margin: 0 auto;
}

.main-content {
  background-color: #fff;
  padding: 48px 64px;
}

.form-title {
  color: #545658;
  font-size: 24px;
  text-align: center;
}

/* SNS part */
.columns {
  display: flex;
  margin-top: 24px;
  text-align: center;
  font-size: 0;
}

.column {
  margin-left: 8px;
}

.column:first-child {
  margin-left: 0;
}

.is-facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  color: #dd4b39;
  background-color: #fff;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.default-text {
  color: #949697;
  font-size: 12px;
}

.privacy {
  margin-top: 8px;
  text-align: center;
}

.divider {
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.divider::before {
  content: "";
  background-color: #ececec;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.divider-text {
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  position: relative;
}

/* 名前 */
.name-contents {
  display: flex;
}

.name-content {
  margin-left: 16px;
}

.name-content:first-child {
  margin-left: 0;
}

/* 性別 */
.gender-contents {
  display: flex;
  color: #545658;
  font-size: 16px;
  margin-top: 5px;
}

.gender-content {
  margin-left: 15px;
  cursor: pointer;
}

.gender-content:first-child {
  margin-left: 0;
}

.gender-content span {
  position: relative;
  padding: 3px 3px 3px 20px;
}

.gender-content span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fbfbfb;
}

.gender-content input:checked + span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #01bfbd;
}

.select-text {
  display: inline-block;
}

/* 出身 */
.select-area {
  position: relative;
}

.select-area::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  transform: rotate(45deg);
}

.select-area select:focus {
  background-color: #fbfbfb;
  border-color: #d9d9d9;
  box-shadow: initial;
}

/* 希望コース */
.course-contents {
  margin-top: 5px;
}

.course-content {
  margin-top: 10px;
  color: #545658;
  font-size: 16px;
}

.course-content:first-child {
  margin-top: 0;
}

.course-text {
  position: relative;
  padding-left: 25px;
}

.course-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  height: 15px;
  width: 15px;
  border: 1px solid #d9d9d9;
}

.course-content input:checked + .course-text::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -12px;
  height: 16px;
  width: 8px;
  transform: rotate(45deg);
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

/* 備考 */
.remarks .input-area {
  height: 100px;
}

.submit-button {
  padding: 13px;
  color: #fff;
  background-color: #01bfbd;
}

.submit-button:hover {
  background-color: #01a6a4;
}

.submit-button:active {
  background-color: #fff;
  color: #01a6a4;
  border: 1px solid #d9d9d9;
}

.text {
  font-size: 12px;
  line-height: 16px;
}

.agreement {
  margin-top: 20px;
}

.foot-part {
  text-align: center;
}

.login {
  margin: 32px 0 8px;
}

.link {
  color: #01a6a4;
}

.link:hover {
  color: #01bfbd;
}

.foot-part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}